# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
logs/
api_documentation.md
tree.txt
*.pyc
aiNewAddRes-last.txt
aiNewAddRes-1.txt
aiNewAddRes-2.txt
aiNewAddRes-3.txt
aiNewAddRes-4.txt
historyMsgs-1.txt
historyMsgs-2.txt
historyMsgs-3.txt
historyMsgs-4.txt
userMessage-1.txt
userMessage-2.txt
userMessage-3.txt
userMessage-4.txt
data/mind-weaver.db
config/config.yaml
.DS_Store
